:root
  --gradient: linear-gradient(262.41deg, #514A9D 10.57%, #24C6DC 97.15%)
  --sans-serif: "brandon-grotesque", sans-serif
  --serif: "abril-text", serif
  

*
  box-sizing: border-box

html,
body
  height: 100%
  margin: 0
  padding: 0

body
  font-family: var(--serif)
  font-size: 20px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

main
  margin: 0 auto
  max-width: 80em

h1,
h2,
h3,
h4,
h5,
h6
  font-family: var(--sans-serif)

