*
  box-sizing: border-box

html,
body
  height: 100%
  margin: 0
  padding: 0

body
  font-family: "abril-text", serif
  font-size: 16px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

main
  margin: 0 auto
  max-width: 80em

h1,
h2,
h3,
h4,
h5,
h6
  font-family: "brandon-grotesque", sans-serif

