#index
  & h1
    font-size: 4em
    font-weight: bold
    text-align: center
  & .callout
    background: linear-gradient(262.41deg, #514A9D 10.57%, #24C6DC 97.15%)
    padding: 0 4em
    display: block
    color: transparent
    background-clip: text
    -webkit-background-clip: text

